<ul class="breadcrumb">
    {% assign url_parts = page.url | split: '/' %}
    {% assign end_index = url_parts.size | minus: 1 %}

    {% for i in (1..end_index) %}

    {% assign part = url_parts[i] %}
    {% assign current = next | append: '/' | append: part | append: '/' %}
    {% assign next = next | append: '/' | append: part %}

    {% for page in site.pages %}
    {% if current == page.url %}
    <li>
        <a href="{{ site.baseurl }}{{page.url}}">
            {{ page.url | split: '/' | last | url_decode }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>
