{% assign posts = site.posts | where: "archived", include.archived %}

<ul class="activity">
  {% for post in posts | limit: include.limit %}

  <li class="row">

    <div class="column">
      <a href="{{ post.url | relative_url }}">
        {% if post.title contains "URLOTW" %}
        {{ post.title | replace: "[URLOTW]", "" | escape }}
        {% include urlotw-icon.html size="16px" %}
        {% else %}
        {{ post.title | escape }}
        {% endif %}
      </a>
    </div>

    <div class="column column-20">
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>

  </li>

  {% endfor %}
</ul>