<section class="work gradient-bottom">
    <h3>Work</h3>
    <ul>
        <li>
            Shopify
            {% include text-row.html left_text="Staff Developer" right_text="2023-07 - Present" %}
            {% include text-row.html left_text="Senior Developer" no_line=true right_text="2021-10 - 2023-07" %}
        </li>
        <li>
            Red Hat
            {% include text-row.html left_text="Senior Software Engineer" right_text="2019-09 - 2021-09" %}
            {% include text-row.html left_text="Software Engineer" no_line=true right_text="2016-06 - 2019-08" %}
        </li>
        <li>
            HE:labs
            {% include text-row.html left_text="Programmer" right_text="2015-10 - 2016-06" %}
        </li>
        <li>
            Dextra
            {% include text-row.html left_text="Programmer" right_text="2012-09 - 2015-10" %}
        </li>
        <li>
            CoffeeBean Technology
            {% include text-row.html left_text="Junior Programmer" right_text="2011-10 - 2012-08" %}
        </li>
        <li>
            DataTransit
            {% include text-row.html left_text="Junior Programmer" right_text="2011-02 - 2011-09" %}
        </li>
    </ul>
</section>