
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

*,
*:after,
*:before
  box-sizing: inherit

html
  box-sizing: border-box
  font-size: 62.5%
  line-height: 1.2
  -webkit-text-size-adjust: 100%

body
  font-size: 1.62em
  font-family: $font-family-default
  line-height: 1.62
  padding: 0 1.2rem
  color: $color-fg
  background-color: $color-bg
  text-rendering: optimizelegibility

main
  max-width: 64rem
  margin: 8rem auto 0

span
  color: $color-subtle

section
  margin-bottom: $margin-bottom-after

::selection
  background: $color-subtle
::-webkit-scrollbar
  width: 1rem
  height: 1rem
::-webkit-scrollbar-track
  background-color: $color-bg
::-webkit-scrollbar-thumb
  background-color: $color-dim

@media (max-width: 40.0rem)
  main
    margin-top: 1rem
