
// Card
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card
  padding: 1.3rem
  display: block
  margin: 4.5rem auto 6.5rem
  max-width: 420px
  transform: rotate(-1deg)
  background: $color-tertiary
  border-radius: 10px
  text-align: center
  font-family: $heading
  border-bottom: 2px solid $color-quinary
