
// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

header
  text-align: center
  background-color: rgba(0, 0, 0, 0.02)
  font-family: $font-family-default
  nav
    height: 60px
    width: 100%
    margin-bottom: 2rem
    a
      color: $color-secondary
      display: inline-block
      padding: 1.7rem 1.6rem 0
