
// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

header
  border-top: 0.5rem solid $color-primary
  padding-top: 2rem
  text-align: center

  nav
    a
      font-weight: 500
    a + a
      &:before
        content: "\2605"
        font-size: 1.5rem
        padding: 0 1.5rem
        cursor: default
        color: $color-senary
