
// Home
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.home
  h1,
  h2,
  h3
    font-family: $font-family-default
    font-size: 2.1rem

  h1

  h1 + h2
    font-size: 1.62rem
    margin-top: -1.1rem
    font-weight: normal
    opacity: 0.5

  h3
    margin-top: 3.2rem

  img
    width: 18rem
    height: 18rem
    filter: saturate(0) brightness(0.9)
    float: right
    margin: 0 0 0 1.8rem
  p
    text-align: justify

  .gradient-bottom
    h3
      margin-top: 1.5rem

  .recent-posts
    a
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: 100%
      display: inline-block
      line-height: 1.25
      vertical-align: middle

  .work
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        margin-top: 1.5rem

@media (max-width: 40rem)
  .home
    img
      width: 14rem
      height: 14rem

@media (max-width: 20rem)
  .home
    img
      display: none
