
// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img
  max-width: 100%

article
  p
    img
      margin: 0.5em 0
    img.custom-width
      border-bottom: none
      box-shadow: none
      display: block
