
// Talks
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.talks
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
  gap: 4rem

  a:hover
    .thumbnail
      box-shadow: 0 0 0 1px $color-dim

  .thumbnail
    width: 100%
    height: 16rem
    position: relative
    overflow: hidden
    border: 1px solid $color-dim
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    filter: saturate(0)
    margin-bottom: 0.5rem
    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: radial-gradient(circle, rgba(13, 13, 13, 40%) 0%, rgba(13, 13, 13, 80%) 100%)
