---
layout: default
---

<section class="post">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        {% assign words = content | number_of_words %}
        {% assign title = page.title | replace: "[URLOTW]", "" | escape %}

        <h1 itemprop="name headline">
            {{ title }}
            {% if page.title contains "URLOTW" %}
            {% include urlotw-icon.html size='45px' %}
            {% endif %}
        </h1>
        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%Y-%m-%d" }}
                ・
                {{ words | divided_by: 200.0 | ceil }} min read
            </time>
        </p>

        <div itemprop="articleBody">{{ content }}</div>

        <aside class="comments">
            Have a comment? Please get in touch by
            <a href="mailto:karreiro@gmail.com?subject=Re: {{ title }}">email</a>.
        </aside>
    </article>
</section>
