---
layout: default
---

<section class="posts">
    <h1 itemprop="name headline">
        {{ page.title | escape }}
    </h1>

    {% if page.archived %}
    <h4>
        These posts are from a different time
        -
        enjoy them with a pinch of nostalgia!
    </h4>
    {% endif %}

    {% assign posts = site.posts | where: "archived", page.archived %}

    <ul>
        {% for post in posts %}

        {% assign l_link = post.url | relative_url %}
        {% assign l_text = post.title | replace: "[URLOTW]", "" | truncate: 65 | escape %}
        {% assign r_text = post.date | date: "%Y-%m-%d" %}

        <li>
            {%
            include text-row.html
            left_text=l_text
            left_link=l_link
            right_text=r_text
            right_mono=true
            %}
        </li>

        {% endfor %}
    </ul>

    {% if page.archived %}
    <a href="/posts">All Posts »</a>
    {% endif %}
</section>
